/* Login.css */

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .login-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* Black color */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    margin-bottom: 10px;
    color: #333; /* Black color */
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333; /* Black border */
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #ffa500; /* Orange color */
  }
  
  @media screen and (max-width: 600px) {
    .login-container {
      max-width: 300px;
    }
  }
  